@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Everything Happening at UWB</h1>
    <p>The time on the server is @DateTime.Now</p>


  <img src="https://cdn.discordapp.com/attachments/1103395778342420501/1104499996214165594/UWB_Hacks.jpg" 
    width="550" 
     height="500"
     alt="alternatetext"
     align="right"
     overflow="hidden">

</div>

<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
</style>

<body>

<div class="myDiv">
  <h2>This is a heading in a div element</h2>
  <p>This is some text in a div element.</p>
</div>

</body>