@page
@model IndexModel
@{
    ViewData["Title"] = "Monthly Events";
}

<style>
.gold-box {
    display: inline-block;
  }

  h1 {
    color: rgb(51, 0, 111); /* Set the text color to purple */
    font-family: Arial; /* Use Arial or a sans-serif font */
    font-weight: bold;
  }
  
  h2 {
    color: black;
    font-family: Arial;
    font-size: 32px;
    text-decoration: none;
    background-color: rgb(232, 211, 162);
    padding: 10px;
    border-radius: 5px;
  }

  h3 {
    color: rgb(145, 123, 76);
    font-family: Arial;
    font-size: 30px;
  }

  p {
    color: black;
    font-family: Arial;
    font-size: 18px;
  }

  a:link {
    color: rgb(0,0,0);
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.15s;
  }  

  a:hover {
    opacity: 0.6;
  }

  a:active {
    background-color: rgb(232, 211, 162);
  }

  a:visited {
    color: black;
  }

</style>


<div class="text-center">
    <h1>Events at UWB this month!</h1>
    <h3> MAY 2023</p>
    <hr> <!-- Add a horizontal rule here -->
</div>

<div class="text-center">
<div class = "gold-box">
<h2><a class = "h2Link" asp-area="" asp-page="/FirstEvent" >UWB Hackathon</a></h2>
</div>
    <p> MAY 7, 2023               10:00am </p>
    <p>Activities and Recreation Center </p>
    <p>Description goes here </p>
    <hr> <!-- Add a horizontal rule here -->
    <div class="gold-box">
 <h2><a class = "h2" asp-area="" asp-page="/SecondEvent" >Wellness Fest 2023</a></h2>
 </div>
    <p> MAY 11, 2023               12:30pm </p>
    <p>Activities and Recreation Center </p>
    <p>Description goes here </p>
    <hr> <!-- Add a horizontal rule here -->
    <div class="gold-box">
 <h2>Technical Interview Workshops</h2>
 </div>
    <p> MAY 18, 2023               2:30pm </p>
    <p>UW2 </p>
    <p>Description goes here </p>
    <hr> <!-- Add a horizontal rule here -->
    <div class="gold-box">
<h2>Breaking into Tech and Engineering</h2>
</div>
    <p> MAY 18, 2023               3:30pm </p>
    <p>UW1 103 and via Zoom </p>
    <p>Description goes here </p>
    <hr> <!-- Add a horizontal rule here -->
    <div class="gold-box">
<h2>Avanade Presents: Mental Health May</h2>
</div>
    <p> MAY 19, 2023               8:00am </p>
    <p>via Zoom</p>
    <p>Description goes here </p>
    <hr> <!-- Add a horizontal rule here -->
    <div class="gold-box">
<h2>School of STEM 10 Year Celebration</h2>
</div>
    <p> MAY 19, 2023               3:30pm </p>
    <p>UW Bothell North Creek Events Center </p>
    <p>Description goes here </p>
    <hr> <!-- Add a horizontal rule here -->
    <div class="gold-box">
<h2>College Awareness Day</h2>
</div>
    <p> MAY 20, 2023               12:00pm </p>
    <p>Activities and Recreation Center </p>
    <p>Description goes here </p>
    <hr> <!-- Add a horizontal rule here -->
    <div class="gold-box">
<h2>Coffee, Tea & Conversation with Campus Safety</h2>
</div>
    <p> MAY 23, 2023               10:30am </p>
    <p>Codex (outside bookstore) </p>
    <p>Description goes here </p>
    <hr> <!-- Add a horizontal rule here -->
</div>