@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Everything Happening at UWB</h1>
    <p>The time on the server is @DateTime.Now</p>
</div>

<header>
<h1>Wellness Fest 2023</h1>
<header>


<br>
<div>When is it? Thursday May 11</div>
<hr>
<div>12:30 - 4:30PM</div>
<hr>
<div>Location: ARC Overlook</div>
<hr>

<img src=" alt="Wellness Fest Poster via Instagram">



