@page

@model IndexModel

@{

    ViewData["Title"] = "Home page";

}


<div>

<a class="back-arrow" href="javascript:history.back()" style="display: inline-block; color: #000; text-decoration: none; font-size: 20px;">&#8592; Back</a>

<div>





<div class="text-center">

    <h1>Everything Happening at UWB</h1>

    <p>The time on the server is @DateTime.Now</p>

</div>



<div>

<header>

<h1>Wellness Fest 2023</h1>

<header>

<div>



<div>

<br>

<p style="font-weight: bold; font-size: 20px; color: purple;"> When is it?<p>

<p>Thursday, May 11<p>

<hr>

<p style="font-weight: bold; font-size: 20px; color: purple;"> What time?<p>

<p>12:30 - 4:30 P.M<p>

<hr>

<p style="font-weight: bold; font-size: 20px; color: purple;"> Hybrid or In-Person?<p>

<p>In-Person event<p>

<hr>

<p style="font-weight: bold; font-size: 20px; color: purple;"> Where at?<p>

<a href="https://www.uwb.edu/arc">Activities and Recreation Center<a>

<a> <a>

<hr>

<p style="font-weight: bold; font-size: 20px; color: purple;"> Description:<p>

<p>Join the Health and Wellness Resource Center (HaWRC) for Wellness Fest 2023! There will be activities, presentations, and interactive displays with information about all things wellness. There will also be snacks, and a raffle with the opportunity to win awesome prizes. Don't miss out on the HaWRC's biggest event of the year!<p>

<hr>

<div>



<img src="" alt="Wellness Fest Poster via Instagram">

<div>


