@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>The time on the server is @DateTime.Now</p>
</div>

<div class = "Date">
    <h1>Todays Events</h1><br>
    <h2>May 6th 2023</h2>
</div>
<br>
<div class = "Event">
    <h3>ACM Hackathon</h3>
    <h4>9:00am - 4:00pm </h4>
    <h4>Where: <a href="https://www.uwb.edu/arc">ARC Overlook</a></h4>
</div>



