/* _content/MyWebApp/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-tdy2x9681t] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-tdy2x9681t] {
  color: #0077cc;
}

.btn-primary[b-tdy2x9681t] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

<<<<<<< HEAD
.nav-pills .nav-link.active[b-tdy2x9681t], .nav-pills .show > .nav-link[b-tdy2x9681t] {
=======
.nav-pills .nav-link.active[b-529uds4zl5],
.nav-pills .show>.nav-link[b-529uds4zl5] {
>>>>>>> origin/main
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-tdy2x9681t] {
  border-top: 1px solid #e5e5e5;
}
<<<<<<< HEAD
.border-bottom[b-tdy2x9681t] {
=======

.border-bottom[b-529uds4zl5] {
>>>>>>> origin/main
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-tdy2x9681t] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-tdy2x9681t] {
  font-size: 1rem;
  line-height: inherit;
}

<<<<<<< HEAD
.footer[b-tdy2x9681t] {
=======
.footer[b-529uds4zl5] {
  background-color: rgb(75, 46, 131);
>>>>>>> origin/main
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 30px;
}

.ContactUs[b-529uds4zl5] {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.Socials[b-529uds4zl5] {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a:link[b-529uds4zl5] {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

a:visited[b-529uds4zl5] {
  color: white;
}

.fa-solid.fa-house[b-529uds4zl5],
.fa-brands.fa-linkedin[b-529uds4zl5],
.fa-brands.fa-square-github[b-529uds4zl5],
.fa-solid.fa-envelope[b-529uds4zl5] {
  font-size: 20px;
}
