@page

@model IndexModel

@{

    ViewData["Title"] = "Home page";

}







<style>

h1 {

    color:rgb(51,0,111);

}

h4 {

    color:rgb(105,105,105);

}

a {

    text-decoration:none;

}

.Date{

    background-color:rgb(232,211,162);

}



</style>



<div class = "Date">

    <h1>Todays Events</h1>

    <h2>May 6th 2023</h2>

</div>



<br>

<div class = "Event">

    <h3><a href="FirstEvent" style="color:black;">ACM Hacks</a></h3>

    <h4>10:00am - 2:00pm </h4>

    <h4>Where: <a href="https://www.uwb.edu/arc">ARC Overlook</a></h4>

    <hr>

    

</div>
